/*
* Style tweaks
* --------------------------------------------------
*/
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    margin: 0px;
}


/*
 * Custom styles
 */
/* Default */
#header .search{
    display: inline-block;
}

.top-bar{
    padding: 10px 0;
    background: #182c39;
    border-bottom: 1px solid #222;
    line-height: 28px;
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

.top-number{
    color: #fff;
}

.top-number p{
    margin: 0
}

.social{
    text-align: right;
}

.social-share{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-share li {
    display: inline-block;
}

ul.social-share li a {
    display: inline-block;
    color: #fff;
    background: #404040;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
}

ul.social-share li a:hover {
    background: #c52d2f;
    color: #fff;
}

.search i {
    color: #fff;
}

input.search-form{
    background: transparent;
    border: 0 none;
    width: 60px;
    padding: 0 10px;
    color: #FFF;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

input.search-form::-webkit-input-placeholder{
    color: transparent;
}

input.search-form:hover::-webkit-input-placeholder {
    color: #fff;
}

input.search-form:hover {
    width: 180px;
}

.navbar,.navbar-inverse{
    background-color: #182c39;
}
.bg-primary{
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.row.first-section{
    padding-top:100px;
}


/** single-item multi carousel */

.product{
    padding-top: 40px;
}


.slider {
    width: 90%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
   width: 100%;
}

.product-item{
    max-width:350px;
    max-height:350px;
    height: 300px;
    width: auto;
}

.product-title{
    padding: 10px;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide .image{padding:10px;}
.slick-slide img{border:5px solid #FFF;display:block;width:100%;}
.slick-slide img.slick-loading{border:0 }
.slick-slider{margin:30px auto 50px;}

div.slick-slide.slick-current.slick-active.slick-center > img{
    -moz-transform:scale(1.08);
    -ms-transform:scale(1.08);
    -o-transform:scale(1.08);
    -webkit-transform:scale(1.08);
    color:#e67e22;opacity:1;
    transform:scale(1.08);
    opacity:0.8;transition:all 300ms ease;
}

.center h3{opacity:0.8;transition:all 300ms ease;}

.center
.slick-center h3{
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    color:#e67e22;opacity:1;
    transform:scale(1.2);
}

.slick-slide .image{padding:10px;}
.slick-slide img{border:5px solid #FFF;display:block;width:100%;}
.slick-slide img.slick-loading{border:0 }
.slick-slider{margin:30px auto 50px;}


.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.list-group-image{
    max-width:400px;
    max-height:250px;
    height: 250px;
    width: auto;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}


/* Large desktop */
@media (min-width: 980px) {

    .navbar-inverse{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
    }

    .navbar.navbar-inverse.navbar-fixed-top{
        margin-top: 0px;
    }

    .navbar-inverse
    {
        background: rgba(24,44,57,0.8);
    }

    .navbar-inverse,.top-bar.navbar-fixed-top
    {
        background: rgba(24,44,57,0.8);
        border: none;
        transition: 0.8s;
        -webkit-transition:  0.8s;
    }

    .top-bar.navbar-fixed-top{
        opacity: 0;
        transition: 0.8s;
        -webkit-transition:  0.8s;
        display: none;
    }
}
.jumbotron {
    background: #358CCE;
    color: #FFF;
    border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px; }
.jumbotron small {
    color: #FFF;
}
.h1 small {
    font-size: 24px;
}

.mapFull{
    height: 500px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.map-wrap {
    position:relative;
}

.overlay {
    width:100%;
    min-height:500px;
    position:absolute;
    top:0;
}

.infFrameContactus{
    margin-top: 30px;
    margin-bottom: 30px;
}


.result{
    margin-top:20px;
}

.modal-dialog{
    width: 750px;
    top: 50%;
    margin-top: -250px;
}

.generalDetail li{
    margin-top: 10px;
}

.generalDetail li:first-child {
    margin-top:5px;
}

@media (min-width: 768px) and (max-width: 979px){
    .navbar.navbar-inverse{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0px;
        transition: 0.4s;
        -webkit-transition:  0.4s;
    }

    .navbar.navbar-inverse.navbar-fixed-top{
        margin-top: 0px;
    }
}

@media (max-width: 767px) {
    .top-bar {
        transition: opacity 1s ease-out;
        opacity: 0;
        height: 0;
        display: none;
    }

    .top-bar.navbar-fixed-top{
        opacity: 0;
        transition: 0.8s;
        -webkit-transition:  0.8s;
        display: none;
    }

    .navbar.navbar-inverse.navbar-fixed-top{
        margin-top: 0px;
    }
}


@font-face {
    font-family: 'Pacifico';
    src: url('pacifico.eot');
    src: url('pacifico.eot?#iefix') format('embedded-opentype'),
    url('pacifico.woff') format('woff'),
    url('pacifico.ttf') format('truetype'),
    url('pacifico.svg#Pacifico') format('svg');
}

